/*INTRO___________________*/

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 45%;
}

.intro-photo {
    width: 50%;
}

/* 
#banner{
    background:var(--vert);
    color:var(--noir);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: scrollText 10s linear infinite;
} */



#banner {
    background: var(--vert);
    color: var(--noir);
    width: 100%;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.banner-text {
    display: inline-block;
    white-space: nowrap;

    animation: scrollText 50s linear infinite;
}

.text-defilant {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}