*{
    position: relative;
    box-sizing:border-box;
}



/*INTRO___________________*/

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 45%;
}

.intro-photo {
    width: 50%;
}

/*BANNER___________________*/


#banner {
    background: var(--vert);
    color: var(--noir);
    width: 100%;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.banner-text {
    display: inline-block;
    white-space: nowrap;

    animation: scrollText 50s linear infinite;
}

.text-defilant {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/*CARDS___________________*/

.card-section{
    background-color: hotpink;
    /* height: 100vh; */
}


.cards {
    background-color: chartreuse;
    width: 100%;
    height: 100vh;
    position:relative;
  }


.card{
    padding:2em;
    position: absolute;
    width: 100%;
    height:100%;
    background: #1565C0;

    color: white;
    text-transform:uppercase;
    font-size:10vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    font-size: 50px;
    overflow: hidden;
}






.card-2{
    background-color: red;
}

.card-2{
    background-color: violet;
}

.spacer{
    height:100vh;
    background-color: red;
}

.scroll-title{
    padding-bottom: 20px;
}