* {
    position: relative;
    box-sizing: border-box;
}



/*INTRO___________________*/

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 45%;
}

.intro-photo {
    width: 50%;
}

/*BANNER___________________*/


#banner {
    background: var(--vert);
    color: var(--noir);
    width: 100%;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.banner-text {
    display: inline-block;
    white-space: nowrap;

    /* animation: scrollText 50s linear infinite; */
}

.text-defilant {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/*CARDS___________________*/

.cards {

    position: relative;
}


.card {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}




.card .card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.card .card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
}




.scroll-title {
    padding-top: 50px;
    padding-bottom: 30px;
}


/*CARDS___________________*/

.mantra-section {
    background-color: var(--noir);
    padding-top: 70px;
    padding-bottom: 70px;
}

.mantra-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mantra-card {
    margin-top: 20px;
    background-color: #363753;
    width: 32%;
    height: fit-content;
    /* top/bottom left/right */
    padding: 24px 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.h2-mantra,
.p-mantra {
    color: var(--blanc);
}

.p-mantra {
    display: none;
}

.mantra-header {
    font-weight: 500;
    color: var(--noir);
    /* top/bottom left/right */
    padding: 4px 2%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    background-color: var(--noir);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.engagement-header {
    background-color: var(--orange);
}

.humain-header {
    background-color: var(--vert);
}

.apprentissage-header {
    background-color: var(--rose);
}

.toggle-button img {
    transition: transform 0.3s ease;
}

.toggle-button.opened img {
    transform: rotate(180deg);
}