/*GENERAL___________________*/

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Couleurs principales */
    --blanc : #F1F1F1;
    --noir : #242529;
    --bleu : #6161B3;
    --orange : #FF8F5B;
    --rose : #F08CB7;
    --vert : #BBE189;
}

body{
    background-color: var(--blanc);
}

a{
    cursor: pointer;
    text-decoration: inherit;
}

a:visited{
    text-decoration: none;
    color: inherit;
}



/*FONT___________________*/

@font-face {
    font-family: 'Inter';
    src: url("Fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Bricolage";
    src: url(Fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}



/*TEXTES___________________*/

h1{
    font-family: "Bricolage";
    font-weight: 500;
    color: var(--noir);
    font-size: 50px;
}

.span-salut{
    font-family: "Bricolage";
    font-weight: 300;
    color: var(--noir);
    font-size: 40px;

}

.span-futur{
    font-family: "Bricolage";
    font-weight: 300;
    color: var(--noir);
    font-size: 50px;
}   

.span-UX{
    color: var(--orange);
    white-space: nowrap;
}

h2{
    font-family: "Bricolage";
    font-weight: 400;
    color: var(--noir);
    font-size: 40px;
    text-align: center;
}


p{
    font-family: 'Inter';
    font-size: 16px;
    color: var(--noir);
}


/*MARGIN___________________*/

.global-margins{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.spacer-bottom{
    margin-bottom: 50px;
}

/*HEADER___________________*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}



.logo-desktop{
    display: block;
    width: 70%;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
   
}

.pages{
    display: flex;
    flex-direction: row;
    gap: 32px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: 'Inter';
    font-size: 16px;
    color: var(--noir);

}

.button-contact {
cursor: pointer;
font: 16px 'Inter'; 
color: var(--noir);
background: var(--blanc);  
border: 2px solid var(--bleu);  
border-radius: 100px;
padding: 5px 20px;
}

.button-contact:hover{
    color: var(--blanc);
    background-color: var(--bleu);
    transition: all 0.2s ease-in;
}

.pages a{
    color: var(--noir);
    display: inline-block;
    position: relative;
}

.pages a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1.5px; 
    background-color: var(--noir);
    transition: width 0.4s ease-out; 
}

.pages a:hover::after {
    width: 100%; 
}   

.page-entered{
    display: inline-block;
    color: var(--noir);
    text-decoration: underline; 
    text-decoration-thickness: 1.5px; 
    text-underline-offset: 4px; 
}




